.user-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin: 16px;
}

.user-card {
  width: 300px;
  margin: 16px;
}

mat-card-header {
  align-items: center;
}

mat-card-content {
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}
