<div class="user-list" *ngIf="(users$  | async) as users">
  <mat-card *ngFor="let user of users" class="user-card">
    <mat-card-header>
      <mat-card-title>{{ user.name }}</mat-card-title>
      <mat-card-subtitle>{{ user.username }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Address:</strong> {{ user.address.street }}, {{ user.address.suite }}, {{ user.address.city }}, {{ user.address.zipcode }}</p>
      <p><strong>Phone:</strong> {{ user.phone }}</p>
      <p><strong>Website:</strong> <a href="http://{{ user.website }}" target="_blank">{{ user.website }}</a></p>
      <p><strong>Company:</strong> {{ user.company.name }} - {{ user.company.catchPhrase }}</p>
    </mat-card-content>
  </mat-card>
</div>